body {
  background-color: #1b1b1b;
}

p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding-top: 25px;
  padding-right: 50px;
}

button {
  padding: 18px 30px !important;
  border-radius: 50px !important;
  margin-top: 50px !important;
  margin-bottom: 100px !important;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.header {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 24px !important;
  font-weight: 700 !important;
  text-align: center;
  padding-top: 158px;
}

.header-second {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 72px !important;
  font-weight: 700 !important;
  text-align: center;
  padding-top: 25px;
}

.header1-about {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 64px !important;
}

.header2-about {
  font-family: "Roboto", sans-serif;
  color: #f65282;
  font-size: 21px;
}

.get-started-button {
  padding: 18px 30px !important;
  border-radius: 50px !important;
  margin-top: 50px !important;
  margin-bottom: 100px !important;
}

.navbar {
  font-family: "Robobto", sans-serif;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.photo-backround {
  background-image: url("./images/frontpage1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.row {
  margin: 144px;
}

.socials-container {
  color: #ffffff;
}
