body {
  background-image: url("/images/frontpage_img.jpg") !important;
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 100vh;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

p {
  color: #ffffff;
}
