body {
  background-image: url("./images/frontpage1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 72px;
  font-weight: 700 !important;
  text-align: center;
  padding-top: 25px;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700 !important;
  text-align: center;
  padding-top: 276px;
}

p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  padding-top: 25px;
}

.get-started-button {
  padding: 18px 30px !important;
  border-radius: 50px !important;
  margin-top: 50px !important;
}

.navbar {
  font-family: "Robobto", sans-serif;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.photo-backround {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
