body {
  background-image: url("portfolio-project-responsive/images/frontpage1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

p {
  color: #ffffff;
}

.photo-backround {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
