body {
  background-image: url("./images/frontpage1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 72px;
  text-align: center;
  padding-top: 20px;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding-top: 276px;
}

p {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

.get-started-button {
  justify-content: center !important;
  padding: 18px 30px !important;
  border-radius: 50px !important;
}

.photo-backround {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
